body{
	font-family: Georgia, serif;
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #FFF;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

#hi{
	margin-left: 10%;
	font-size: 48px;
	font-weight: 100;
}

.heading{
	margin-left: 20%;
	color: white;
	font-size: 56px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

.musicnewstuff{
	margin-left: 20%;
	margin-top: 20%;
	color: white;
	font-size: 56px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

#asaphyuan {
	font-size: 48px;
	margin: 0;
}

.hover {
	background: #292929;
}

.hover2 {
	background: #262626;
}

.hover3 {
	background: #242424;
}

.hover4 {
	background: #212121;
}

.hover5 {
	background: #1F1F1F;
}

#next {
     position: absolute;
     bottom: 5%;
     left: 43%;
     width:118px;; /* width of the menu div */
          z-index: 999999;   
}

#next a{
	 height: 62px;
	 width: 118px;
     float: left;
     z-index: 999999;
}

#next-link {
     background-image: url('img/next.png');
     opacity: 0.7;
}


#titles {
	margin-top: -18px;
    font-size:14px;
    font-weight: 100;
}

#stuff {
    -webkit-animation-delay: 5s; /* Safari and Chrome */
    animation-delay: 5s;
}

#typed2 {
    -webkit-animation-delay: 5s; /* Safari and Chrome */
    animation-delay: 5s;
}

#typed {
    -webkit-animation-delay: 5s; /* Safari and Chrome */
    animation-delay: 5s;
}

#hiimasaph {
	 position: fixed;
     top: 30%; /* distance to the top of the menu div from the top of the page */
     right: 50px;
     left: 0;
     margin-right: auto;
     margin-left: auto;
     width: 310px;
     height: 70px;  
     color: white;
     text-align: center;
     font-size: 40px;
     line-height: 1em;
     font-weight: bold;
}

#typed2format {
	margin-top: 15px;
}

#social-media-links {
     width:224px;; /* width of the menu div */
}

#whoiam, #whatido {
	float: left;
	color: white;
	width: 250px;
	font-size: 32px;
	text-align: center;
	height: 80px
}
#social-media-links a{
	 height: 56px;
	 width: 56px;
     float: left;
     z-index: 999999;
}

#twitter-link {
     background-image: url('img/twitter.png');
     opacity: 0.7;
}

#li-link {
     background-image: url('img/linkedin.png');
     opacity: 0.7;
}

#fb-link {
     background-image: url('img/fb.png');
     opacity: 0.7;
}

#github-link {
     background-image: url('img/github.png');
     opacity: 0.7;
}

#social-media-links a:hover{
	opacity: 1;
}

#vertical-nav a:hover {color: #FF0000}


a{
	color: grey;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 9px;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: grey;
	display: inline-block;
	text-shadow: 0 1px 1px rgba(255,255,255,0.4);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
@media screen and (max-width: 520px) {
	.codrops-top { display: none; }
}

.st-container {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-right: 50%;
    font-family: Arial, sans-serif;
}

.st-container > input,
.st-container > a {
    position: fixed;
    bottom: 0px;
    width: 20%;
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    z-index: 100;
}
 
.st-container > input {
    opacity: 0;
    z-index: 1000;
}
 

.moveLeft{
	padding-right: 0px;
}

#st-control-1, #st-control-1 + a {
	position: fixed;
    left: -100%;
}
 
#st-control-2, #st-control-2 + a {
    left: -114%;
}
 
#st-control-3, #st-control-3 + a {
    left: -128%;
}
 
#st-control-4, #st-control-4 + a {
    left: -142%;
}
 
#st-control-5, #st-control-5 + a {
    left: -154%;
}

#st-control-6, #st-control-6 + a {
    left: -168%;
}

#st-control-7, #st-control-7 + a {
    left: -185%;
}

.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100%;
}
 
.st-scroll {
    top: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
     
    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
 
.st-panel{
    background: #f3f3f3;
    overflow: hidden;
} 

#st-panel-2{
    background: #1F1F1F;
    overflow: hidden;
} 

#st-panel-3{
    background: #3D3D3D;
    overflow: hidden;
    color: black;
} 

#st-panel-4{
    background: #5C5C5C;
    overflow: hidden;
} 

#st-panel-5{
    background: #787878;
    overflow: hidden;
} 

#st-panel-6{
    background: #919191;
    overflow: hidden;
} 

#st-panel-7{
    background: #ABABAB;
    overflow: hidden;
} 

.block {
	width: 96px;
	height: 96px;
/* 	opacity:0.85; */
}

.link_block {
	width: 96px;
	height: 96px;
}

#background {
	width: 100%;
	height: 100%;
	background: black;
}

.mobile_container{
	margin:auto;
	width: 100px;
}

.tablet_container{
	margin:auto;
	width: 100%;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.colormered{
	color: #00BFFF;
/* 	color: rgb(169, 43,43); */
}

/*  COLUMN SETUP  */
.col {
	display: block;
	overflow: hidden;
	float:left;
	margin: 0% 0 0% 0%;
	position: relative;
	width: 10%;
}
.col2 {
	display: none;
	overflow: hidden;
	float:left;
	padding-left: 10%;
	position: relative;
	width: 60%;
	font-size: 18px;
	line-height: 1.5em;
	color: #FFF;
	font-weight: 500;
}

.col2-2{
	display: none;
	overflow: hidden;
	float:left;
	margin: 0% 0 0% 0%;
	position: relative;
	width: 40%;
}
.col:first-child { margin-left: 0; }


#badscale{
	margin-left: 20%;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
/*

.span_1_of_10 {
	width: 10%;
}
.span_2_of_10 {
	width: 10%;
}
.span_3_of_10 {
	width: 10%;
}
.span_4_of_10 {
	width: 10%;
}
.span_5_of_10 {
	width: 10%;
}
.span_6_of_10 {
	width: 10%;
}
.span_7_of_10 {
	width: 10%;
}
.span_8_of_10 {
	width: 10%;
}
.span_9_of_10 {
	width: 10%;
}
.span_10_of_10 {
	width: 10%;
}

*/

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/*

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}
*/

.absolute_center {
  padding-top: 30px;
  text-align: center;
  font: sans-serif;
  color: white;
}


#social_media {
	background-image:url('img/social_media.png');
}

#aboutmediv{
	display: block;
}


@media (min-width: 0px) {

    .mobile{display:none;}
    .tablet{display:block;}
    .desktop{display:none;}
	.largeDesktop{display:none;}
}
/*

@media (min-width: 768px) {

    .mobile{display:none;}
    .tablet{display:none;}
    .desktop{display:block;}
	.largeDesktop{display:none;}
}

@media (min-width: 960px) {

    .mobile{display:none;}
    .tablet{display:none;}
    .desktop{display:none;}
	.largeDesktop{display:block;}
}
*/

.active_tab{
	background: #707070;
	-moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}

.inactive_tab{
	background: #707070;
}

#tabs{
	display: none;
	padding-left: 100px;
}

#tabs >  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%
}

#whoiam, #whatido {
	float: left;
	color: white;
	width: 250px;
	font-size: 32px;
	text-align: center;
	height: 80px
}

.visible{
	display: block;
}

@media only screen and (max-width: 949px) {
	#hiimasaph {
	     right: 0;
	     left: 0;
	}
}
@media only screen and (max-width: 499px) {
	#hiimasaph {
	     right: 0;
	     left: 10%;
	}
}

@media only screen and (max-width: 899px) {
	.col2-2 {
	     display: none;
	}
	.col2 {
		display: none;
	}
	#tabs{
		display: block;
	}
}

